*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: var(--color-white);
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}