@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

:root {
    --font-primary: 'Poppins', sans-serif;
    --font-weight-bold: 600;
    --font-weight-normal: 400;

    --color-primary: #1e90ff;
    --color-black: #333;
    --color-white: #f1f1f1;
}